/*
    날짜: 2020-04-14
    작성자: 이주연
    CGV 포토티켓
*/
/* 포토티켓 공통 */
.photo_ticket.wrap {background-color: transparent; color: #222222;} /* 지우기 */
.photo_ticket.wrap article{background-color: transparent} /* 지우기 */
.photo_ticket .clearfix::after { content: ''; clear: both; display: block;}
.photo_ticket .primary { color: #ff2f35;}

/*  sprite 이미지 */
@media only screen and (-webkit-min-device-pixel-ratio:1){
    .sprite.sprite-pt{content:''; background-image:url('../images/common/phototicket@1x.png'); background-repeat: no-repeat; display: block; background-size: 200px 200px;}
}
@media only screen and (-webkit-min-device-pixel-ratio:2){
    .sprite.sprite-pt{content:''; background-image:url('../images/common/phototicket@2x.png'); background-repeat: no-repeat; display: block; background-size: 200px 200px;}
}
@media only screen and (-webkit-min-device-pixel-ratio:3){
    .sprite.sprite-pt{content:''; background-image:url('../images/common/phototicket@3x.png'); background-repeat: no-repeat; display: block; background-size: 200px 200px;}
}
.sprite.sprite-pt.sprite-cardNum {width: 27px;height: 20px;background-position: 0 -64px;}
.sprite.sprite-pt.sprite-icBack {width: 30px;height: 30px;background-position: 0 0;}
.sprite.sprite-pt.sprite-icBoastNor {width: 20px;height: 20px;background-position: -74px -63px;}
.sprite.sprite-pt.sprite-icBoastSel {width: 20px;height: 20px;background-position: -98px -63px;}
.sprite.sprite-pt.sprite-icBtnLikeSel {width: 20px;height: 20px;background-position: -123px -63px;}
.sprite.sprite-pt.sprite-icCalChDim {width: 17px;height: 18px;background-position: -56px -160px;}
.sprite.sprite-pt.sprite-icCalCh {width: 17px;height: 18px;background-position: -79px -160px;}
.sprite.sprite-pt.sprite-icCardRotation {width: 32px;height: 32px;background-position: -36px -59px;}
.sprite.sprite-pt.sprite-icClose {width: 30px;height: 30px;background-position: -161px 0;}
.sprite.sprite-pt.sprite-icDownMore {width: 13px;height: 9px;background-position: -29px -43px;}
.sprite.sprite-pt.sprite-icFilterDateSel {width: 19px;height: 19px;background-position: -8px -159px;}
.sprite.sprite-pt.sprite-icFilterDate {width: 19px;height: 19px;background-position: -32px -159px;}
.sprite.sprite-pt.sprite-icInfo {width: 31px;height: 30px;background-position: -40px 0;}
.sprite.sprite-pt.sprite-icLikeGray {width: 12px;height: 11px;background-position: -49px -40px;}
.sprite.sprite-pt.sprite-icLikeNor {width: 42px;height: 52px;background-position: -49px -95px;}
.sprite.sprite-pt.sprite-icLikeSel {width: 42px;height: 52px;background-position: 1px -95px;}
.sprite.sprite-pt.sprite-icShare {width: 30px;height: 30px;background-position: -120px 0;}
.sprite.sprite-pt.sprite-icSideMenu {width: 31px;height: 30px;background-position: -80px 0;}
.sprite.sprite-pt.sprite-icTMore {width: 9px;height: 13px;background-position: -14px -42px;}
.sprite.sprite-pt.sprite-icTMoreLarge {width: 9px;height: 13px;background-position: 1px -42px;}
.sprite.sprite-pt.sprite-kakao {width: 26px;height: 26px;background-position: -69px -29px;}

/* 포토티켓 header */
.photo_ticket #pt_header {z-index: 111 !important;}
.photo_ticket .header_wrap {position: relative; padding: 0 15px; background-color: #ffffff; border: 0; z-index: 1111;}
.photo_ticket .header_wrap header {height: 47px; background-color:transparent;}
.photo_ticket .header_wrap .title_area {position: absolute; left: 14px;}
.photo_ticket .header_wrap .title_area .title { font-size: 16px; margin: 0; line-height: 47px; padding-left: 35px;}
.photo_ticket .header_wrap .title_area .btn_back { position: absolute; left: 0; top: 7px; }

.photo_ticket .header_wrap .menu_area {position: absolute; right: 15px; top: 9px}
.photo_ticket .header_wrap .menu_area .btn_info { display: inline-block }
.photo_ticket .header_wrap .menu_area .btn_menu { display: inline-block; margin-left: 3px; }

.photo_ticket .main { background-color: #ffffff; }
.photo_ticket .main .slider_wrap .title { padding-left: 30px; font-size: 22px; line-height: 30px; font-weight: 600; padding-top: 25px; margin-bottom: 19px;}
.photo_ticket .main .slider_wrap .swiper-container { width: 260px; margin: 0 auto;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide {  position: relative; text-align:center; display:flex; align-items:center; justify-content:center; margin-bottom: 30px;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide > div {width: 100%; height: 360px; border-radius: 20px; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 21%, rgba(0, 0, 0, 0.57), #000000); background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 21%, rgba(0, 0, 0, 0.57), #000000);}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide img { width: 100%; height: 100%; border-radius: 20px;}
/*.photo_ticket .main .slider_wrap .swiper-container .swiper-slide a { width: 100%; height: 100%}*/
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide.swiper-slide-next > div { height: 331px; padding-top: 13px;}
/*.photo_ticket .main .slider_wrap .swiper-container .swiper-slide img { width: 100%; height: 100%; border-radius: 20px;}*/
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .dim {position: absolute; bottom: 0; left: 0; width:100%; height: 284px; border-radius: 0 0 20px 20px; background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.57) 100%); background: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.57) 100%);}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .badge_top { position:absolute; padding:0 12px; height: 25px; top: 0; right: 0; background-color: rgb(251,67,87); border-radius: 0 19px 0 10px; color: #ffffff; font-size: 11px; font-weight: 400; line-height: 25px;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .badge_top .txt { position: relative; padding-right: 10px;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .badge_top .txt::after { content: '|'; position: absolute; right: 0; top: 0; padding-right: 3px;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .poster_info {position: absolute; left: 0; top:243px; color: #ffffff; text-align: left; padding-left: 20px;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .poster_info .title { font-size: 18px; padding-top: 0; line-height: 24px; margin-bottom: 5px; padding-left: 0}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .poster_info .date { font-size: 13px; line-height: 16px; font-weight: 500; margin-bottom: 4px; letter-spacing: 0}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .poster_info .info { position: relative;  margin-bottom: 12px; font-size: 13px; letter-spacing: 0;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .poster_info .info .theater { position: relative; padding-right: 5px;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .poster_info .info .theater::after {content: ''; position: absolute; width: 3px; height: 3px; border-radius: 50%; background: #ffffff; right: -2px; top: 6px;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .poster_info .badge_ellipse {position: absolute; background: rgba(255,255,255,0.9); padding: 0 9px; height: 23px; color: rgb(251,67,57); line-height: 24px; border-radius: 11px; font-weight: 500; font-size: 12px;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .poster_info .badge_ellipse .txt {position: relative; padding-right: 5px;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .poster_info .badge_ellipse .txt::after {position: absolute; content: '|'; top: 0; right: 0;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .badge_circle .btn-circle {position: absolute; display: block; width: 80px; height: 80px; border-radius: 40px; color: #ffffff; background: linear-gradient(124deg, #fb4357 14%, #ef642f 86%); background: -webkit-linear-gradient(124deg, #fb4357 14%, #ef642f 86%);  box-shadow: 0 4px 10px 0 rgba(251, 67, 87, 0.4); bottom: -11px; right: -18px;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .badge_circle .btn-circle .txt {font-size: 16px; font-weight: bold; padding-top: 27px; margin-bottom: 5px;}
.photo_ticket .main .slider_wrap .swiper-container .swiper-slide .badge_circle .btn-circle .count {font-size: 12px;}

.photo_ticket .main .alert_wrap {padding: 0 27px;}
.photo_ticket .main .alert_wrap .swiper-container .swiper-slide {border-top: 1px solid #ededed; border-bottom: 1px solid #ededed; margin-bottom: 14px;}
.photo_ticket .main .alert_wrap .swiper-container .swiper-slide a { display: block; color: #222222; position: relative; text-align: center; font-size: 15px; padding: 13px 0;}
.photo_ticket .main .alert_wrap .swiper-container .swiper-slide a .title { display: block; font-weight: bold; margin-bottom: 3px;}
.photo_ticket .main .alert_wrap .swiper-container .swiper-slide a .txt { display: block; }
.photo_ticket .main .alert_wrap .swiper-container .swiper-slide a .right_arrow {position: absolute; right: 6px; top: 23px;}

/*   이벤트 광고 영역    */
.photo_ticket .main .eventBannerWrap { position: relative; height: 90px; background-color: #FFF0BA; text-align: center; }
.photo_ticket .main .eventBannerWrap a { display: block; }
.photo_ticket .main .eventBannerWrap a img { height: 90px; }
.photo_ticket .main .eventBannerWrap::after { content: ''; position: absolute; width: 100%; height: 7px; background: #f2f2f2; bottom: -7px; left: 0;}

/*   내 포토티켓 - 헤더 컴포넌트    */
.photo_ticket .title_wrap {position: relative; padding: 0 15px; height: 60px; margin-bottom: 13px;}
.photo_ticket .title_wrap .title {position: absolute; font-size: 17px; font-weight: bold; left: 15px; top: 22px; letter-spacing: -2.1px;}
.photo_ticket .title_wrap .all a {position: absolute; display: block; font-size: 14px; font-weight: 500; color: #999999; padding: 15px; top: 9px; right: 0;}
.photo_ticket .title_wrap .all a i {display: inline-block}
.photo_ticket .title_wrap .badge { position: absolute; width: 100px; height: 25px; left: 144px; top: 17px; border: 1px solid #fb4357; border-radius: 12px; }
.photo_ticket .title_wrap .badge a {display: block; color: #fb4357; font-weight: 500; font-size: 12px; line-height: 26px; text-align: center}

    /*   내 포토티켓    */
.photo_ticket .main .mypt_wrap { position: relative; padding: 7px 0 20px;}
.photo_ticket .main .mypt_wrap::after { content: ''; position: absolute; width: 100%; height: 7px; background: #f2f2f2; bottom: -7px; left: 0;}

/*   내 포토티켓 - 카드 컴포넌트   */
.photo_ticket .card_wrap {padding: 0 15px;}
.photo_ticket .card_wrap .card { position: relative; display: block; width: 100%; height: 118px; background-color: #ffffff; border: 1px solid #efefef; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); border-radius: 10px; margin-bottom: 33px; cursor: pointer}
.photo_ticket .card_wrap .card .img { position: absolute; top: -14px; left: 13px; display:block; width: 80px; height: 118px;}
.photo_ticket .card_wrap .card .img img { width: 100%; height: 100%; border-radius: 10px; border: 1px solid rgba(153,153,153,0.1)}
.photo_ticket .card_wrap .card .img .badge_top {position: absolute; width: 27px; height: 20px; border-radius: 0 10px 0 10px; background-color: rgba(0, 0, 0, 0.3); color: #ffffff; top: 1px; right: 0; font-size: 12px; line-height: 20px; text-align: center}
.photo_ticket .card_wrap .movie_info { position: relative; padding: 25px 86px 0 108px;}
.photo_ticket .card_wrap .movie_info > .title {display: block; font-weight: bold; margin-bottom: 29px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.photo_ticket .card_wrap .movie_info > .tip { position: absolute; display: block; font-weight: 500; color: #ff2f35; font-size: 12px; top: 42px;}
.photo_ticket .card_wrap .movie_info .info {display: block; font-size: 12px; font-weight: 500; margin-bottom: 7px;}
.photo_ticket .card_wrap .movie_info .info .title { position: relative; display: inline-block; color: #999999; padding-right: 8px;}
.photo_ticket .card_wrap .movie_info .info .title::after { position: absolute; content: '|'; right: 2px; top: -1px; color: rgba(153,153,153,0.5);}
.photo_ticket .card_wrap .movie_info .info .date {display: inline-block;}
.photo_ticket .card_wrap .badge { position: absolute; width: 68px; height: 68px; border-radius: 34px; text-align: center; color: #ffffff; right: 11px; bottom: 26px;}
.photo_ticket .card_wrap .badge.badge_red { background-color: #ff2f35;}
.photo_ticket .card_wrap .badge.badge_blue{ background-color: #209eff;}
.photo_ticket .card_wrap .badge { background-color: #ff2f35}
.photo_ticket .card_wrap .badge .dday { font-weight: 500; font-size: 18px; padding-top: 20px; margin-bottom: 2px; letter-spacing: 1px;}
.photo_ticket .card_wrap .badge .txt { font-size: 10px; font-weight: 300;}
.photo_ticket .card_wrap .btn_more { width: 115px; height: 34px; border-radius: 18px; background-color: #ffffff; border: 1px solid #eeeeee; margin: 0 auto; padding: 0;}
.photo_ticket .card_wrap .btn_more a { display: block; border-radius: 18px; color: #999999; font-size: 14px; text-align: center; line-height: 36px; margin: 0 auto; }
.photo_ticket .card_wrap .btn_more a i { display: inline-block; }

/*   포토티켓 자랑하기  - 이미지 컴포넌트    */
.photo_ticket .imgcard_wrap { padding: 0 15px; }
.photo_ticket .ptboast_wrap .row { display: flex; flex-wrap: wrap; margin-bottom: 25px;}
.photo_ticket .ptboast_wrap .row .col { position: relative; width: 100%; padding-right: 8px; }
.photo_ticket .ptboast_wrap .row .col:last-child { padding-right: 0; padding-left: 8px;}
.photo_ticket .ptboast_wrap .row .col:last-child .btn_like { right: -8px; }
.photo_ticket .ptboast_wrap .col.col-50 { flex: 0 0 50%; max-width: calc( 50% - 8px );}
.photo_ticket .imgcard_wrap .card { display: block; border-radius: 10px; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.08); background-color: #ffffff; padding: 10px 10px 8px 10px;}
.photo_ticket .imgcard_wrap .card .img { display: block; border-radius: 10px; }
.photo_ticket .imgcard_wrap .card .img img { width: 100%; height: calc(100% - 48px)}
.photo_ticket .imgcard_wrap .card .info { display: block; font-size: 13px; font-weight: 500;}
.photo_ticket .imgcard_wrap .card .info .user { display: block; font-size: 13px; font-weight: 500; padding-top: 8px; margin-bottom: 5px;}
.photo_ticket .imgcard_wrap .card .info .count_like { display: block; color: #999999; font-size: 12px; }
.photo_ticket .imgcard_wrap .card .info .count_like i { display: inline-block; margin-right: 4px; vertical-align: middle;}
.photo_ticket .imgcard_wrap .card .btn_like { position: absolute; bottom: -15px; right: 2px;}
.photo_ticket .imgcard_wrap .card .btn_like a { display: block }

/*   포토티켓 자랑하기  */
.photo_ticket .ptboast_wrap { position: relative; padding: 14px 0 0; }
.photo_ticket .ptboast_wrap .title_wrap { margin-bottom: 0 }
